body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table tr td {
  width: 50%;
  vertical-align: top;
}

/* repeat can be set for 18 or 32-column (resp. 17, 31) presentation */
#table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
}
/* He (element 2) on the right, column 18 (or 32) */
.element:nth-child(2) {
  grid-column-start: -2;
}
/* B and Al (elements 5 and 13) at column 13 (or 27) */
.element:nth-child(5),
.element:nth-child(13)  {
  grid-column-start: -7;
}
/* Ti and Zr at column 4 (or 18) */
.element:nth-child(22),
.element:nth-child(40)  {
  grid-column-start: -16;
}
/* Hf and Rf at column 4 (or 18) */
.element:nth-child(72),
.element:nth-child(104)  {
  grid-column-start: -16;
}
/* Lanthanides and Actinides */
.element:nth-child(57) {
  color:red;
}
.element:nth-child(n+57):nth-child(-n+71)  {
  grid-row-start: 10;
  color:red;
}
.element:nth-child(89) {
  color:orange;
}
.element:nth-child(n+89):nth-child(-n+103)  {
  grid-row-start: 11;
  color:orange;
}

#help {
  color: gray;
  font-size: 90%;
}

#detail {
  color: blue;
  font-size: 90%;
}